<div class="zq-actcompt-pop zq-actcompt-pop-ex" id="info_pop">
	<span class="zq-actcompt-pop-close"></span>
	<h4 class="zq-actcompt-pop-tit">提交联系方式，仅用于奖品发放</h4>
	<div class="zq-actcompt-pcon">
		<div class="zq-actcompt-form-item"><p class="zq-actcompt-p zq-actcompt-or">请填写真实信息，{{#if collectInfo}}才有机会抽到{{/if}}{{#unless collectInfo}}方便我们发放{{/unless}}奖品。</p></div>
		{{#each fieldSet}}
		<div class="zq-actcompt-form-item"{{#if comment}} style="display:none"{{/if}}>
			<div class="zq-actcompt-form-tit" data-name>{{name}}</div>
			<div class="zq-actcompt-form-input">
				<input type="text" value="" placeholder="" name="{{columnName}}" maxlength="{{length}}">
			</div>
		</div>
		<div class="zq-actcompt-form-error zq-actcompt-or"></div>
		{{/each}}

		<div class="zq-actcompt-btn-box zq-actcompt-btn-box-ex"><button type="button" class="zq-actcompt-btn-submit" id="submit_info">提交</button><button type="button" class="zq-actcompt-btn-cancel" id="cancel_submit_info">取消</button></div>
	</div>
</div>
<div class="zq-actcompt-pop-mask"></div>