<div class="zq-actcompt-pop zq-actcompt-pop-ex" id="sms_pop">
	<span class="zq-actcompt-pop-close"></span>
	<h4 class="zq-actcompt-pop-tit">请完成验证码</h4>
	<div class="zq-actcompt-pcon">
		<div class="zq-actcompt-form-item">
			<div class="zq-actcompt-form-input"><input id="mobile_input" maxlength="11" type="text" value="请输入手机号码" placeholder=""></div>
			<a href="#send" class="zq-actcompt-btn-sendcode" id="send_sms">
				<span id="zq_actcompt_send_sms">发送</span>
				<span id="zq_actcompt_resend_sms">重新发送<span class="lottery-snum">(<span class="zq-actcompt-snum" id="sms_time_left">120</span>)</span></span>
			</a>
		</div>
		<div class="zq-actcompt-form-item">
			<div class="zq-actcompt-form-input zq-actcompt-form-input-ex"><input maxlength="4" id="sms_input" type="text" value="请输入验证码" placeholder=""></div>
		</div>
		<div class="zq-actcompt-btn-box zq-actcompt-tc"><button type="button" class="zq-actcompt-btn-submit" id="submit_sms">提交</button></div>
	</div>
</div>
<div class="zq-actcompt-pop-mask"></div>