<div class="zq-actcompt-pop" id="captcha_pop">
	<section class="zq-actcompt-pop-in">
		<header class="zq-actcompt-pop-hd"><h4 class="zq-actcompt-tit">请完成验证码</h4><a href="javascript:;" class="zq-actcompt-pop-close"><i class="zq-actcompt-ico-close"></i></a></header>
		<div class="zq-actcompt-pop-bd">
            <div class="xcaptcha_component" onselectstart="return false;">
                <div class="xcaptcha_head xcaptcha_clearfix">
                    <div class="xcaptcha_title">验证码</div>
                    <div class="xcaptcha_input_wrap">
                        <div class="xcaptcha_grid_input">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div class="xcaptcha_backspace"></div>
                        </div>
                        <div class="xcaptcha_status">
                            <img src="http://ue.17173cdn.com/a/hao/index/2015/img/correct_icon.png" width="80%"></img>
                        </div>
                    </div>
                </div>
                <div class="xcaptcha_grid_content">
                    <div>
                        <span class="xcaptcha_img_wrap"></span>
                        <span class="xcaptcha_buttons"><a class="xcaptcha_img_change">换一组</a></span>
                    </div>
                    <div class="xcaptcha_captcha_error"></div>
                    <div class="xcaptcha_help">点击下框内文字依次选出上图中的汉字</div>
                    <div class="xcaptcha_grid_buttons xcaptcha_clearfix">
                        <div tabindex="1" class="xcaptcha_btn0"></div>
                        <div tabindex="2" class="xcaptcha_btn1"></div>
                        <div tabindex="3" class="xcaptcha_btn2"></div>
                        <div tabindex="4" class="xcaptcha_btn3"></div>
                        <div tabindex="5" class="xcaptcha_btn4"></div>
                        <div tabindex="6" class="xcaptcha_btn5"></div>
                        <div tabindex="7" class="xcaptcha_btn6"></div>
                        <div tabindex="8" class="xcaptcha_btn7"></div>
                        <div tabindex="9" class="xcaptcha_btn8"></div>
                    </div>
                    <div class="xcaptcha_info"></div>
                </div>
            </div>
		</div>
	</section>
</div>