<div class="zq-actcompt-pop" id="sms_pop">
	<section class="zq-actcompt-pop-in">
		<header class="zq-actcompt-pop-hd"><h4 class="zq-actcompt-tit">请完成验证码</h4><a href="javascript:;" class="zq-actcompt-pop-close"><i class="zq-actcompt-ico-close"></i></a></header>
		<div class="zq-actcompt-pop-bd">
			<div class="zq-actcompt-form-item-ex1">
				<input class="zq-actcompt-form-input" id="mobile_input" maxlength="11" type="text" value="" placeholder="输入手机号">

				<button type="button" class="zq-actcompt-pop-btn-send" id="zq_actcompt_send_sms">发送</button>
				<button type="button" class="zq-actcompt-pop-btn-send" id="zq_actcompt_resend_sms">重新发送(<span id="sms_time_left">120</span>)</button>

			</div>
			<input class="zq-actcompt-form-input" type="text" maxlength="4" id="sms_input" value="" placeholder="输入验证码">
		</div>
		<button type="button" class="zq-actcompt-pop-btn-submit" id="submit_sms">提交</button>	
	</section>
</div>